/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@font-face {
 font-family: 'Vollkorn';
 font-style: normal;
 font-weight: 400;
   src:
     url('Vollkorn-Regular.woff2') format('woff2'),
     url('Vollkorn-Regular.woff') format('woff'),
     url('Vollkorn-Regular.eot') format('embedded-opentype');
}
@font-face {
 font-family: 'Vollkorn';
 font-style: italic;
 font-weight: 400;
   src:
     url('Vollkorn-Italic.woff2') format('woff2'),
     url('Vollkorn-Italic.woff') format('woff'),
     url('Vollkorn-Italic.eot') format('embedded-opentype');
}
@font-face {
 font-family: 'Vollkorn';
 font-style: normal;
 font-weight: 600;
   src:
     url('Vollkorn-Semibold.woff2') format('woff2'),
     url('Vollkorn-Semibold.woff') format('woff'),
     url('Vollkorn-Semibold.eot') format('embedded-opentype');
}
@font-face {
 font-family: 'Vollkorn';
 font-style: italic;
 font-weight: 600;
   src:
     url('Vollkorn-SemiboldItalic.woff2') format('woff2'),
     url('Vollkorn-SemiboldItalic.woff') format('woff'),
     url('Vollkorn-SemiboldItalic.eot') format('embedded-opentype');
}
@font-face {
 font-family: 'Vollkorn';
 font-style: normal;
 font-weight: 700;
   src:
     url('Vollkorn-Bold.woff2') format('woff2'),
     url('Vollkorn-Bold.woff') format('woff'),
     url('Vollkorn-Bold.eot') format('embedded-opentype');
}
@font-face {
 font-family: 'Vollkorn';
 font-style: italic;
 font-weight: 700;
   src:
     url('Vollkorn-BoldItalic.woff2') format('woff2'),
     url('Vollkorn-BoldItalic.woff') format('woff'),
     url('Vollkorn-BoldItalic.eot') format('embedded-opentype');
}
@font-face {
 font-family: 'Vollkorn';
 font-style: normal;
 font-weight: 900;
   src:
     url('Vollkorn-Black.woff2') format('woff2'),
     url('Vollkorn-Black.woff') format('woff'),
     url('Vollkorn-Black.eot') format('embedded-opentype');
}
@font-face {
 font-family: 'Vollkorn';
 font-style: italic;
 font-weight: 900;
   src:
     url('Vollkorn-BlackItalic.woff2') format('woff2'),
     url('Vollkorn-BlackItalic.woff') format('woff'),
     url('Vollkorn-BlackItalic.eot') format('embedded-opentype');
}

html {
    color: #515151;
    font: 22px / 1.4 'Vollkorn', 'Georgia', serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  padding-bottom: 1em;
}

header {
  background: #fbeef3;
  display: block;
  margin-bottom: 1em;
  padding: 1.2em 0 1em;
}

h1 {
  color: #212121;
  font-size: 1em;
  font-variant: small-caps;
  font-weight: 400;
  margin: 0;
  text-align: center;
  text-transform: lowercase;
}

.greyscale {
  color: #eba4be;
}

/* All inspired by Tobias Ahlin at http://tobiasahlin.com/blog/css-trick-animating-link-underlines/ */

h1 > a {
  position: relative;
  color: #212121;
  text-decoration: none;
}

h1 > a:hover {
  color: #212121;
}

h1 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #212121;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

h1 > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

h2 {
  border-bottom: 5px solid #eba4be; /* #ca054d; */
  color: #333;
  font-weight: 400;
  font-variant: small-caps;
  margin-bottom: -.25em;
  text-transform: lowercase;
}

a:link,
a:active,
a:hover,
a:visited {
  color: #303030;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.5s ease;
}

a:active,
a:hover {
  color: #ca054d;
}


.main-banner {
  display: flex;
  justify-content: center;
}

main {
  display: block;
  max-width: 38em;
  padding: 0 2em;
}

.smallcaps {
  font-variant: small-caps;
  text-transform: lowercase;
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    html {
      font: 18px / 1.4 'Vollkorn', 'Georgia', serif;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
